.block {
  position: absolute;
  background-color: transparent;
  border: solid 2px var(--color-block-inactive);
  outline: none;
}

.block__dragging {
  position: absolute;
  background-color: transparent;
  border: solid 2px var(--color-gray-border);
  outline: none;
}

.block:focus-within {
  border-color: var(--color-block-active);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.block__resizer {
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--color-block-inactive);
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
}

.block:focus-within .block__resizer {
  background-color: var(--color-block-active);
}

.block__close {
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
}

.block-image__image {
  width: 100%;
  height: auto;
  object-fit: contain;
}
